/* INDEX.PHP STYLING BEGINS */

body {
    background-color: black;
    background-size: cover;
    height: 100vh;
    margin-bottom: 50px;
    padding-bottom: 50px;
    opacity: 0;
    animation: fadeIn .75s ease-in-out forwards;
    transition: opacity 1s ease-in-out;
    padding: 0 5vw;
    /* Adjust padding to create space on the sides */
    box-sizing: border-box;
}

body.fade-out {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    color: white;
    text-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    flex-direction: column;
    margin-top: auto;
    padding: 40px 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

.nav {
    color: white;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}

.nav-link {
    color: white !important;
    text-shadow: 0 4px 8px black;
}

.nav-link:hover {
    color: black !important;
}

.thetitle {
    color: white;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6vw;
}

.t_title {
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    font-size: 6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
}

.summary {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.summary2 {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 4px 8px black;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.where {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.map {
    text-align: center;
    margin-bottom: 20px;
}

.frame {
    height: 40vh;
}

.thoughts {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form {
    color: white;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name {
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.message {
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.custom-btn {
    color: white !important;
    box-shadow: 0 4px 8px white;
    border-radius: 8px;
}

.custom-btn:hover {
    color: black !important;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.messages {
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    background-color: rgba(17, 17, 17, 0.75);
}

.posts {
    color: white;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.names {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.one {
    justify-content: right;
    text-align: right;
}

.errorx {
    color: red;
    font-weight: bold;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px black;
}

.successx {
    color: blue;
    font-weight: bold;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px black;
}


/*INDEX.PHP STYLING ENDS */


/*ABOUTUS.PHP STYLING BEGINS */

.who {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*ABOUTUS.PHP STYLING ENDS */


/*CONTACTUS.PHP STYLING BEGINS */

.contact {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactform {
    color: white;
    text-align: left;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*CONTACTUS.PHP STYLING ENDS */


/*TRAGEDIES.PHP STYLING BEGINS */

.alltragedies {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 4px 8px black;
    box-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.months {
    color: white !important;
    box-shadow: 0 4px 8px white;
    border-radius: 8px;
    background-color: rgba(17, 17, 17, 0.75)!important;
    margin-left: 10px;
    margin-right: 10px;
}

.months:hover {
    color: black !important;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.themonth {
    color: white;
    text-align: center;
    text-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.calendar-table {
    border-radius: 2px;
    overflow: hidden;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
}

.calendar-border-0 {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.calendar td,
.calendar th {
    text-align: center;
    box-shadow: 0 4px 8px black;
}

.calendar-days {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.75)!important;
    color: white!important;
    border: 2px solid white;
    border-radius: 8px;
}

.calendar {
    background-color: rgba(17, 17, 17, 0.75)!important;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

.calendar a {
    text-decoration: none;
    color: white!important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem!important;
}

.calendar a:hover {
    color: black!important;
}


/*TRAGEDIES.PHP STYLING ENDS */


/*CONTACTUS.PHP STYLING ENDS */

.ct_title {
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ct_summary {
    font-size: 1rem;
}

.ct_image {
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
}

.ct_readmore {
    text-decoration: none;
    font-size: 1rem;
    color: white !important;
    box-shadow: 0 4px 8px white;
    border-radius: 8px;
}

.ct_readmore:hover {
    color: black !important;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}