body {
    background-color: black;
    background-size: cover;
}

.maintitle {
    text-align: center;
    text-shadow: 0 4px 8px black;
}

.maintitle h1 {
    font-size: 6vw;
    color: white;
    text-align: center;
    text-shadow: 0 4px 8px black;
    margin-bottom: 20px;
}

.summary {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}

.where {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}

.map {
    text-align: center;
    margin-bottom: 20px;
}

.thoughts {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}

.form {
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-inside {
    color: black;
    margin-top: 20px;
}

.form-outside {
    margin-bottom: 20px;
}

.posts {
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}

.errorx {
    color: red;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}